<% contador = 1 %>
<% @dadosView[:dados].each do |iteracao| %>
  <table border="1" style="width:50%">
    <caption><%= "Iteração Nº #{contador}"%></caption>
    <thead>
      <tr class="dado-inicial">
        <td><%= iteracao[:dadoInicial][:inicial] %></td>
        <td><%= iteracao[:dadoInicial][:total] %></td>
      </tr>
    </thead>
    <tr>
      <th>Vizinhos</th>
      <th>Total</th>
    </tr>
    <% iteracao[:dadosVizinhos].each do |vizinho| %>
      <% if (vizinho[:total] ==  iteracao[:melhorVizinho][:total]) %>
        <tr class="melhor-vizinho">
      <% else %>
        <tr>
      <% end %>
        <td><%= vizinho[:vizinho] %></td>
        <td><%= vizinho[:total] %></td>
      </tr>
    <% end %>
  </table>
  <br />
  <br />

  <% contador += 1 %>
<% end %>
