<% @dadosView[:dados].each do |iteracao| %>
  <h1>Dado Inicial</h1>
    <p><%= iteracao[:dadoInicial][:inicial] %> - Total: <%= iteracao[:dadoInicial][:total] %></p>

  <h2>Vizinhos</h2>
    <% iteracao[:dadosVizinhos].each do |vizinho| %>
      <%= vizinho[:vizinho] %> - <strong>Total:</strong> <%= vizinho[:total] %>
      <br />
    <% end %>

  <h2>Melhor Vizinho</h2>
    <%= iteracao[:melhorVizinho] %> - <strong>Total:</strong> <%= iteracao[:melhorVizinho] %>
<% end %>
